body{
  background-color: #f8f8f8;
}

.section1{
  height: 900px;
  width: 100%;
  background-image: url(./Images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  
}
.rectangle{
  
  height: 5px;
  width: 40px;
  background-color: black;
  
  margin: auto;
  
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 2%;
  padding-right: 2%;
}
span{
  color: white;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}
nav ul li a{
  color: black;
  text-decoration: none;
  
}
button{
border: 2px solid black;
background-color: transparent;
padding: 8px 14px;
font-size: 16px;
text-transform: capitalize;
cursor: pointer;
}
.home-info{
  text-align: center;
  padding-bottom: 60px;
}
.home-text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  padding-top: 80px;
}

h1{
  font-size: 112px;
}
p{
  
  text-align: center;
}
.section2{
  background-color: #f8f8f8;
  padding-top: 40px;
  padding-bottom: 40px;
  
}

.articleheading{
  font-size: 32px;
  text-align: center;
}
.articles{
  display: flex;
  justify-content: center;
  
  
  margin-top: 50px;
}
.card{
  width: 400px;
  background-color: #f8f8f8;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
}
.card img{
  width: 100%;
  height: auto;
}
.card-content{
  text-align: center;
  padding-top: 0px;
  padding-bottom: 20px;
  
}
nav a{
  font-size: 24px;
}
.card-content p{
  font-size: 16px;
}
.line{
  padding-top: 30px;
  padding-bottom: 30px;
}
.section3{
  padding-top: 6%;
}
.Aboutus{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  background-color: white;
  
}
.backgroundimage{
  height: 500px;
  width: 100%;
  background-image: url(./Images/drone8.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.section3 p{
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
  padding-top: 20px;
}
h4{
  text-align: center;
}
.fanjo{
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}
.fanjo h1{
  text-align: center;
}
.sub{
  text-align: center;
  background-color: #f8f8f8;
  padding-top: 2%;
    padding-bottom: 2%;
}
.sub p{
  text-align: center;
}
.sub button{
  background-color: transparent;
}
.btn-sub{
  padding-left: 3%;
  padding-right: 3%;
}
.line-block span{
  background-color: black;
}
  hr {
    width: 50%;
  }
  footer{
    background-color: white;
  }
 
  input{
    background-color: white;
    width: 35%;
    height: 50px;
    border: 2px solid #f8f8f8;
    padding: 10px;
  }
  ::-webkit-input-placeholder {
    margin: 2px;
  }
  .sub-div-btn{
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .myfooter{
    display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding-bottom: 15px;
  
  
  }
  .nav-footer{
    display: flex;
    align-items: end;
    justify-content: space-around;
    padding-left: 30%;
    padding-right: 2%;
  }

  .icons{
    padding-top: 40px;
    display: flex;
    align-items: center;
    
    
  }
.facebook-icon{
  padding: 10px;
  font-size: 15px;
  text-decoration: none;
  margin: 5px 40px;
  border-radius: 50%;
  padding-bottom: 0%;
  margin-bottom: 15px;
  background: #CBDEEC;
}
.Linkedin-icon{
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  margin: 10px 10px;
  border-radius: 20%;
  padding-bottom: 0%;
  margin-top: 5px;
  margin-left: 25px;
  background: #CBDEEC;
}
.pininterest-icon{
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 100%;
  margin: 5px;
  margin-left: 25px;
  
}
.btn-footer{
  padding-top: 2%;
  padding-bottom: 2%;
  

}

.icons img {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  margin: 0 50px; 

}

.icons img :hover{
  opacity: 100%;
}
 
